@import "../../style/globalStyle.scss";
main {
  display: grid;
  place-items: center;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;

  > div {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    width: 320px;
    height: 50px;
    border: none;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
    cursor: pointer;
  }

  button {
    width: 50px;
    height: 50px;
    background-color: $button-color;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }

  .toastify-error {
    height: 50px;
    position: absolute;
  }
}

@media (min-width: 800px) {
  main input {
    width: 530px;
  }
}
