@import "../../style/globalStyle.scss";

main {
  display: grid;
  place-items: center;

  > div {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
  }

  input {
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 10px;
    cursor: pointer;
  }

  button {
    width: 13%;
    height: 50px;
    background-color: $button-color;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }

  .toastify {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
    padding: 15px;
    background-color: #000;

    &.toastify-error {
      background-color: blue;
    }

    &.toastify-warning {
      background-color: #ffb200;
    }

    &.toastify-success {
      background-color: #32a852;
    }
  }
}

@media (min-width: 800px) {
  main input {
    width: 40%;
  }
  main button {
    width: 4%;
  }
}
